<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Nodejs" path="server.js" verb="*" modules="IsapiModule" scriptProcessor="C:\Program Files (x86)\nodejs\node.exe" resourceType="Unspecified" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Nodejs" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
